<div class="view-header">Total of <span ng-bind="data.auctions.count"></span> Auctions</div>
<table>
	<tr>
		<th>Auction Title</th>
		<th>Auction Close</th>
	</tr>
	<tr ng-repeat="auc in data.auctions.results" ng-click="products( auc.id )" class="click-link">
		<td ng-bind="auc.title"></td>
		<td ng-bind="auc.auction_close"></td>
	</tr>
</table>