<div class="view-header"><a href="https://www.langtons.com.au{{product.product_url}}" target="_BLANK"><span ng-bind="product.title"></span></a></div>

<table width="100%">
	<tr>
		<td colspan="20"><b>Abstract:</b> <span ng-bind="product.abstract"></span></td>
	</tr>
	<tr>
		<td colspan="20"><b>Subtitle:</b> <span ng-bind="product.subtitle"></span></td>
	</tr>
	<tr>
		<td colspan="20"><b>Classification:</b> <span ng-bind="product.classification"></span></td>
	</tr>
	<tr>
		<td><b>Variety:</b> <span ng-bind="product.variety"></span></td>
		<td><b>Rating:</b> <span ng-bind="product.rating"></span></td>
		<td><b>Winery Rating:</b> <span ng-bind="product.winery_rating"></span></td>
		<td><b>Vintage Rating:</b> <span ng-bind="product.vintage_rating"></span></td>
		<td><b>Price Low:</b> <span ng-bind="product.price_low"></span></td>
	</tr>
	<tr>
		<td><b>Vintage:</b> <span ng-bind="product.vintage"></span></td>
		<td><b>Source:</b> <span ng-bind="product.source"></span></td>
		<td><b>Country:</b> <span ng-bind="product.country"></span></td>
		<td><b>Region:</b> <span ng-bind="product.region"></span></td>
		<td><b>Bottle Size:</b> <span ng-bind="product.bottle_size"></span></td>
	</tr>
	<tr>
		<td><b>Auction:</b> <span ng-bind="product.is_auction"></span></td>
		<td><b>Buy Now:</b> <span ng-bind="product.is_buynow"></span></td>
		<td><b>Pre-release:</b> <span ng-bind="product.is_prerelease"></span></td>
		<td><b>Registered:</b> <span ng-bind="product.is_registered"></span></td>

	</tr>
</table>
<hr>
<H3>Notes</h3>
<div class="notes radius5" ng-repeat="note in notes">
	<table width="100%">
		<tr>
			<td colspan="20"><b>Wine Name:</b> <span ng-bind="note.wine_name"></span></td>
		</tr>

		<tr>
			<td><b>Taste Date:</b> <span ng-bind="note.date_tasted"></span></td>
			<td><b>Variety:</b> <span ng-bind="note.variety"></span></td>
			<td><b>Special:</b> <span ng-bind="note.is_special"></span></td>
			<td><b>Region:</b> <span ng-bind="note.region"></span></td>
			<td><b>Rating:</b> <span ng-bind="note.rating"></span></td>
		</tr>
		<tr>
			<td><b>Vintage:</b> <span ng-bind="note.vintage"></span></td>
			<td><b>Drink By:</b> <span ng-bind="note.drink_by"></span></td>
			<td><b>Alcohol:</b> <span ng-bind="note.alcohol"></span></td>
			<td><b>Winery:</b> <span ng-bind="note.winery"></span></td>
			<td><b>Price:</b> <span ng-bind="note.price"></span></td>
		</tr>
		<tr>
			<td colspan="20" class="note"><span ng-bind-html="note.notes"></span></td>
		</tr>
	</table>
</div>
