<div class="view-header">Total of <span ng-bind="data.products.length"></span> Products</div>
<table>
	<tr>
		<th ng-click="sort('title')" class="click-link">Title <span class="glyphicon sort-icon" ng-show="data.sortKey=='title'" ng-class="{'glyphicon-chevron-up':data.reverse,'glyphicon-chevron-down':!data.reverse}"></span></th>
		<th ng-click="sort('variety')" class="click-link">Variety <span class="glyphicon sort-icon" ng-show="data.sortKey=='variety'" ng-class="{'glyphicon-chevron-up':data.reverse,'glyphicon-chevron-down':!data.reverse}"></span></th>
		<th ng-click="sort('vintage')" class="center click-link">Vintage <span class="glyphicon sort-icon" ng-show="data.sortKey=='vintage'" ng-class="{'glyphicon-chevron-up':data.reverse,'glyphicon-chevron-down':!data.reverse}"></span></th>
		<th ng-click="sort('rating')" class="center click-link">Rating <span class="glyphicon sort-icon" ng-show="data.sortKey=='rating'" ng-class="{'glyphicon-chevron-up':data.reverse,'glyphicon-chevron-down':!data.reverse}"></span></th>
		<th ng-click="sort('price_low')" class="center click-link">Price Low <span class="glyphicon sort-icon" ng-show="data.sortKey=='price_low'" ng-class="{'glyphicon-chevron-up':data.reverse,'glyphicon-chevron-down':!data.reverse}"></span></th>
	</tr>
	<tr>
		<th><input class="prod-filter" type="text" ng-model="data.titleFilt" placeholder="Title Filter" tabindex="1" /></th>
		<th><input class="prod-filter" type="text" ng-model="data.varietyFilt" placeholder="Variety Filter" tabindex="2" /></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.vintageFiltLow" placeholder="Low" tabindex="3" /></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.ratingFiltLow" placeholder="Low" tabindex="5" /></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.priceFiltLow" placeholder="Low" tabindex="7" /></th>
	</tr>
	<tr>
		<th></th>
		<th></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.vintageFiltHigh" placeholder="High" tabindex="4" /></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.ratingFiltHigh" placeholder="High" tabindex="6" /></th>
		<th class="center"><input class="prod-filter small" type="text" ng-model="data.priceFiltHigh" placeholder="High" tabindex="8" /></th>
	</tr>	
	<tr ng-repeat="prod in data.products | filter:{title:data.titleFilt,variety:data.varietyFilt} | filter:vintageFilter | filter:ratingFilter | filter:priceFilter | orderBy:data.sortKey:data.reverse" ng-click="product( prod.id )" class="click-link">
		<td ng-bind="prod.title"></td>
		<td ng-bind="prod.variety"></td>
		<td ng-bind="prod.vintage" class="center"></td>
		<td ng-bind="prod.rating" class="center"></td>
		<td ng-bind="prod.price_low" class="center"></td>
	</tr>
</table>