body{ color: #888; }

table{ margin: 0 auto; }
table tr{  }
table tr:nth-child(even){ background: #eff5ff; }
table th{ font-size: 16px; padding: 5px 15px 10px 15px; }
table td{ border-bottom: 1px solid #ddd; padding: 3px 15px 8px 15px; }

.notes{ border: 1px solid #999; margin: 15px 0; }
.note{ background: #fff; }
.modal-backdrop{
	opacity: .8;
}
.modal-backdrop img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.view-header{
	text-align: center;
	font-size: 20px;
	background: #fff;
	margin: 0 0 20px 0;
}
.prod-filter{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.prod-filter.small{
	width: 50px;
}
.content-wrapper{
	max-width: 1200px;
	background: #f2f3f7;
	margin: 0 auto;
	padding: 10px 10px 30px 10px;
}
.header{
	position: relative;
	height: 60px;
	text-align: center;
}
.header .user{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.login-pop{
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 40px;
	background: #fff;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2000;
	min-width: 300px;
}
.login-pop.ng-hide,
.modal-backdrop.ng-hide{
	opacity: 0;
}
.pop-field{
	margin: 10px 0;
}
.pop-field input{
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: 0; box-shadow: 0;
}
.pop-field input[type=submit]{
	background: #6070f0;
	color: #fff;
}
.pop-field input[type=submit]:hover{
	background: #90a0f0;
	cursor: pointerl;
}
.form-error{
	color: red;
}
.click-link{
	cursor: pointer;
}
.click-link:hover{
	text-decoration: underline;
}
.fade-transition{
	-webkit-transition: .3s opacity ease-out; transition: .3s opacity ease-out;
}
.bg-transition{
	-webkit-transition: .3s background ease-out; transition: .3s background ease-out;
}
.radius5{
	border-radius: 5px;
}
.center{
	text-align: center;
}
.angular-view.ng-enter, tr.ng-enter{ opacity: 0; -webkit-transition: all .4s ease-in; transition: all .4s ease-in; transition-delay: .3s; }
.angular-view.ng-enter-active, tr.ng-enter-active{ opacity: 1; transition-delay: .3s; }
.angular-view.ng-leave, tr.ng-leave{ opacity:1; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }
.angular-view.ng-leave-active, tr.ng-leave-active{ opacity:0; }