<!DOCTYPE html><html lang="en">
<head>
	<base href="/">
	<meta charset="utf-8">
	<title>Wine Finder</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="/static/scripts/jquery.min.js"></script>
	<script src="/static/scripts/angular/angular.min.js"></script>
	<script src="/static/scripts/angular/angular-animate.min.js"></script>
	<script src="/static/scripts/angular/angular-route.min.js"></script>
	<script src="/static/scripts/angular/angular-sanitize.min.js"></script>
	
	<script src='/static/scripts/app_main.js'></script>
	<script src='/static/scripts/controllers/auctions.js'></script>
	<script src='/static/scripts/controllers/products.js'></script>
	<script src='/static/scripts/controllers/details.js'></script>
	
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/winefinder.css" rel="stylesheet">
	
</head>
<body ng-app="winefinder" ng-controller="appMain">
<div class="content-wrapper" ng-cover>
	<div class="header">
		<div class="logo"><h1>Wine Finder</h1></div>
		<div class="user">
			<span ng-bind="user.first_name"></span> <span ng-bind="user.last_name"></span> | <span class="click-link" ng-click="doLogout()">Sign Out</span>
		</div>
	</div>
	
	<div ng-view class="angular-view"></div>

</div>
<div class="login-pop fade-transition radius5" ng-hide="data.loggedIn || loggingIn">
	<h4>Sign In</h4>
	<form name="login-form" ng-submit="doLogin()">
		<div class="pop-field">
			<input type="text" name="username" ng-model="username" placeholder="Username" required />
		</div>
		<div class="pop-field">
			<input type="password" name="password" ng-model="password" placeholder="Password" required />
		</div>
		<div class="pop-field">
			<input class="bg-transition" type="submit" value="Sign In" />
		</div>
		<div class="pop-field form-error" ng-bind="formMessage"></div>
	</form>
</div>

<div class="modal-backdrop fade-transition" ng-hide="data.loggedIn"></div>
<div class="modal-backdrop fade-transition" ng-show="data.fetchingData"><img src="/static/images/ajax-loader.gif"</div>
</body></html>